.footer {
  clear: both;
  text-align: center;
  background-color: rgba(193, 193, 193, 0.3);
  padding: 20px 0;
  .social {
    text-align: center;
    margin-top: 1%;
    font-size: 2rem;
    .fa-link {
      margin-right: 2rem;
    }
    .fa-link:before {
      content: "";
    }
    .fa-link:last-of-type {
      margin-right: 0;
    }
    .fa-twitter:hover {
      color: $twitter-blue;
    }
    .fa-linkedin:hover {
      color: $linkedin-blue;
    }
    .fa-github:hover {
      color: $github;
    }
    .fa-envelope-o:hover {
      color: $enveloppe;
    }
    .fa-phone:hover {
      color: $phone;
    }
  }
}
