.works {
  min-height: 70vh;
  text-align: center;

    .sub-title {
        margin: 5vh 0;
  }

    .works-list {
        display: inline;
    }
    .works-list:first-of-type {
        margin-right: 10%;
  }
  .tbn {
    width: 25%;
    margin: 5% 0;
    border-radius: 50%;
  }
  .tbn:hover {
    opacity: 0.5;
    transform: scale(1.2) rotate(-5deg);
  }
}
