.works {
  min-height: 70vh;
  text-align: center;

    .sub-title {
        margin: 5vh 0;
  }

    .works-list {
        display: inline;
    }
    .works-list:first-of-type {
        margin-right: 10%;
  }
  .tbn {
    width: 25%;
    margin: 5% 0;
    border-radius: 50%;

    &:hover {
      animation-name: tbnAnim;
      animation-duration: 500ms;
      animation-fill-mode: forwards;
    }
  }
  .wrapper-work {
    margin-bottom: 5%;
    width: 100%;
    min-height: 20vh;
    background-image: url(../assets/images/wood.jpg);
    background-position: right top;
    background-size: cover;
    background-attachment: fixed;
    color: $white;
    font-size: 1.7rem;
    text-align: center;
    text-shadow: 1px 1px 0 #0F1626;
  }
  .work-text {
    padding-top: 5vh;
  }
  .work-text:last-of-type {
    padding-top: 3vh;
    padding-bottom: 5vh;
  }
}
