/*
 * Add variabls here
 */

// Fonts //
$bitter:  'Bungee Hairline', arial, sans-serif;
$josefin: 'Josefin Sans', sans-serif;

// Main colors //
$light-blue: #99CED4;
$dark-blue:  #0F1626;
$black:      #333333;
$white:      #ffffff;

// Shadows //
$shadow-light-blue: 1px 1px 0 $light-blue, 2px 2px 0 $light-blue, 3px 3px 0 $light-blue, 4px 4px 0 $light-blue, 5px 5px 0 $light-blue;
$shadow-dark-blue:  1px 1px 0 $dark-blue, 2px 2px 0 $dark-blue, 3px 3px 0 $dark-blue, 4px 4px 0 $dark-blue, 5px 5px 0 $dark-blue;
