.btn{
 margin-bottom: 5%;
 display: inline-block;
 text-decoration: none;
 border:1px solid $light-blue;
 color: $light-blue;
 border-radius: 0;
 width: auto;
 height: auto;
 font-size: 1.5rem;
 padding: 15px;
 background-color: transparent;
 transition: all 250ms ease-in-out;

    &:hover,
    &:active {
        color: $black;
        background-color: $light-blue;
    }
}
