@media screen and (max-width: 1200px) {
  .nav-bar {
    text-align: center;
  }
  .header-name {
    text-shadow: none;
  }
  .inner-nav {
    display: none;
  }
  .header-title,
  .btn {
    margin-top: 6rem;
  }
  .fa.fade {
    display: none;
  }
}
